<div class="card card-custom card-stretch gutter-b">
  <!-- Header -->
  <div class="card-header align-items-center border-0 mt-4">
    <h3 class="card-title align-items-start flex-column">
      <span class="font-weight-bolder text-dark">Thông tin nhanh</span>
      <span class="text-muted mt-3 font-weight-bold font-size-sm"
        >Bạn có <b style="color: black;">{{countOrder}}</b> đơn hàng trong tháng này đó</span
      >
    </h3>
    <div class="card-toolbar">
      <div
        ngbDropdown
        placement="bottom-right"
        class="dropdown dropdown-inline"
        title="Quick actions"
      >
        <a
          ngbDropdownToggle
          class="btn btn-clean btn-hover-light-primary btn-sm btn-icon"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="ki ki-bold-more-hor"></i>
        </a>
        <div
          ngbDropdownMenu
          class="dropdown-menu dropdown-menu-md dropdown-menu-right"
        >
          <app-dropdown-menu1></app-dropdown-menu1>
        </div>
      </div>
    </div>
  </div>
  <!-- Body -->
  <div class="card-body pt-4">
    <div class="timeline timeline-6 mt-3">
      <div *ngFor="let item of responeData ; let i = index" class="timeline-item align-items-start">
        <ng-container *ngIf="i < 5">
        <!--begin::Label-->
          <div
            class="timeline-label text-dark-75 font-size-lg"
          >
          {{item.orderDate}}
          </div>
          <!--end::Label-->

          <!--begin::Badge-->
          <div class="timeline-badge">
            <i class="fa fa-genderless text-success icon-xl"></i>
          </div>
          <!--end::Badge-->

          <!--begin::Content-->
          <div class="timeline-content d-flex">
            <span class="text-dark-75 pl-3 font-size-lg"
              >Khách hàng <b style="color: red;">{{item.customerName}}</b> đã đặt sản phẩm <b style="color: red;">{{item.productName}}</b></span
            >
          </div>
          
        </ng-container>
          <!--end::Content-->
        </div>
      <!--end::Item-->
    </div>
  </div>
</div>
