<ng-container *ngIf="isLoading">
  <div class="progress progress-modal">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
      style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</ng-container>

<div class="modal-header">
  <!-- <div class="modal-title h4"> Add</div> -->
  <ng-container *ngIf="banner.id">Edit</ng-container>
  <ng-container *ngIf="!banner.id">Create</ng-container>
  Banner
</div>
<div class="modal-body">
  <!-- <ng-container *ngIf="isLoading">
    <span>Thêm thuộc tính....</span>
  </ng-container> -->

  <ng-container *ngIf="isLoading">
    <form action="#" class="form form-label-right" [formGroup]="formGroup">

      <div class="form-group row">
        <div class="col-lg-6">
          <label class="form-label">Url (Khi click vào thương hiệ VD: danh-muc-san-pham-g?searchKey=intel)</label>
          <input type="text" class="form-control form-control-lg form-control-solid" name="urlTarget"
            placeholder="urlTarget" autocomplete="off" [class.is-invalid]="isControlInvalid('urlTarget')"
            [class.is-valid]="isControlValid('urlTarget')" formControlName="urlTarget" />
          <div class="valid-feedback" *ngIf="isControlValid('urlTarget')">
            Tên thuộc tính hợp lệ
          </div>

        </div>
        <div class="col-lg-3">
          <label>Trang</label>
          <select class="form-control" name="page" placeholder="Trang hiện" formControlName="page">
            <option value="home" selected>Home</option>
          </select>

        </div>
        <div class="col-lg-3">
          <label>Vị trí hiện</label>
          <select class="form-control" name="position" placeholder="Vị trí hiện" formControlName="position">
            <option value="top" selected>Top</option>
            <option value="center" selected>Center</option>
            <option value="bottom" selected>Bottom</option>
          </select>

        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-4">
          <label class="form-label">Name Banner</label>
          <input type="text" class="form-control form-control-lg form-control-solid" name="nameBanner"
            placeholder="nameBanner" autocomplete="off" [class.is-invalid]="isControlInvalid('nameBanner')"
            [class.is-valid]="isControlValid('nameBanner')" formControlName="nameBanner" />
          <div class="valid-feedback" *ngIf="isControlValid('nameBanner')">
            NameBanner hợp lệ
          </div>

        </div>
        <div class="col-lg-8">
          <label class="form-label">Hình ảnh</label>
          <input formControlName="file" id="file" type="file" class="form-control" (change)="onFileChange($event)">
        </div>
        <div class="invalid-feedback" *ngIf="controlHasError('required', 'imageUrl')">
          Tên thuộc tính bắt buộc
        </div>
      </div>

      <div class="form-group row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-8">
          <img id="blah" [src]="fileReview" style="max-width: 250px; max-height: 250px;" alt="your image" />
        </div>
      </div>
    </form>
  </ng-container>

</div>

<div class="modal-footer">
  <div>
    <button type="button" class="btn btn-light btn-elevate mr-1" (click)="modal.dismiss()">
      Cancel
    </button>&nbsp;
    <button type="button" class="btn btn-primary btn-elevate" (click)="save()">
      OK
    </button>
  </div>
</div>