<ng-container *ngIf="isLoading">
  <div class="progress progress-modal">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary" role="progressbar"
      style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</ng-container>

<div class="modal-header">
  <!-- <div class="modal-title h4"> Add</div> -->
  <ng-container *ngIf="id">Edit</ng-container>
  <ng-container *ngIf="!id">Create</ng-container>
  Filter Value
</div>
<div class="modal-body">
  <!-- <ng-container *ngIf="isLoading">
    <span>Thêm thuộc tính....</span>
  </ng-container> -->

  <ng-container *ngIf="isLoading">
    <form action="#" class="form form-label-right" [formGroup]="formGroup">
      <div class="form-group row">
        <div class="col-lg-6">
          <label>Chọn Filter để thêm giá trị</label>
          <select (change)="onChange($event.target.value)" [attr.disabled]="filterValue.id ? '' : null" class="form-control" name="filterId" placeholder="Filter by Status" formControlName="filterId">
            <!-- <option value="">All</option> -->
            <ng-container *ngFor="let att of listFilters">
              <option value="{{att.id}}" selected>{{att.displayText}}</option>
            </ng-container>
          </select>
          <div class="invalid-feedback"  *ngIf="controlHasError('required', 'filterId')">
            Filter là bắt buộc!
          </div>
        </div>

      </div>
      <div class="form-group row">
        <div class="col-lg-6">
          <label class="form-label">Nhập giá trị cho Filter</label>
          <input type="text" class="form-control form-control-lg form-control-solid" name="filterValueDisplayText"
            placeholder="filterValueDisplayText" autocomplete="off"
            [class.is-invalid]="isControlInvalid('filterValueDisplayText')"
            [class.is-valid]="isControlValid('filterValueDisplayText')" formControlName="filterValueDisplayText" />
          <div class="valid-feedback" *ngIf="isControlValid('filterValueDisplayText')">
            Tên hiện thị tìm kiếm hợp lệ
          </div>
          <div class="invalid-feedback" *ngIf="controlHasError('required', 'filterValueDisplayText')">
            Tên hiện thị tìm kiếm bắt buộc
          </div>
          <div class="invalid-feedback" *ngIf="controlHasError('minlength', 'filterValueDisplayText')">
            Phải hiều hơn 1 ký tự
          </div>
          <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'filterValueDisplayText')">
            Tối đa 50 ký tự
          </div>
        </div>
        <div class="col-lg-6">
          <label class="form-label">Nhập từ khoá tìm kiếm (chỉ loại tìm kiếm theo text)</label>
          <input  [attr.disabled]="typeSearchKey ? '' : null"  type="text" class="form-control form-control-lg form-control-solid" name="filterSearchKey" placeholder="filterSearchKey"
            autocomplete="off" [class.is-invalid]="isControlInvalid('filterSearchKey')" [class.is-valid]="isControlValid('filterSearchKey')"
            formControlName="filterSearchKey" />
          <!-- <div class="valid-feedback" *ngIf="isControlValid('url')">
            Url hợp lệ
          </div> -->
          <!-- <div
            class="invalid-feedback"
            *ngIf="controlHasError('required', 'url')"
          >
            Url bắt buộc
          </div> -->
          <!-- <div
            class="invalid-feedback"
            *ngIf="controlHasError('minlength', 'url')"
          >
            Phải hiều hơn 1 ký tự
          </div>
          <div
            class="invalid-feedback"
            *ngIf="controlHasError('maxlength', 'url')"
          >
          Url đa 100 ký tự
          </div> -->
        </div>
      </div>
      <div class="form-group row">
        <div class="col-lg-4">
          <label class="form-label">Sort Order</label>
          <input type="number" class="form-control form-control-lg form-control-solid" name="sortOrder" placeholder="sortOrder"
          autocomplete="off" [class.is-invalid]="isControlInvalid('sortOrder')" [class.is-valid]="isControlValid('sortOrder')"
          formControlName="sortOrder" />
        </div>
        <div class="col-lg-4">
          <label class="form-label">Min Price (chỉ loại tìm kiếm theo số tiền)</label>
          <input  [attr.disabled]="!typeSearchKey ? '' : null" type="number" class="form-control form-control-lg form-control-solid" name="minPrice" placeholder="minPrice"
            autocomplete="off" [class.is-invalid]="isControlInvalid('minPrice')" [class.is-valid]="isControlValid('minPrice')"
            formControlName="minPrice" />

        </div>
        <div class="col-lg-4">
          <label class="form-label">Max Price (chỉ loại tìm kiếm theo số tiền)</label>
          <input  [attr.disabled]="!typeSearchKey ? '' : null" type="number" class="form-control form-control-lg form-control-solid" name="maxPrice" placeholder="maxPrice"
            autocomplete="off" [class.is-invalid]="isControlInvalid('maxPrice')" [class.is-valid]="isControlValid('maxPrice')"
            formControlName="maxPrice" />

        </div>
      </div>
    </form>

  </ng-container>

</div>

<div class="modal-footer">
  <div>
    <button type="button" class="btn btn-light btn-elevate mr-1" (click)="modal.dismiss()">
      Cancel
    </button>&nbsp;
    <button type="button" class="btn btn-primary btn-elevate" (click)="save()">
      OK
    </button>
  </div>
</div>