<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">

    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body">
    <ng-container *ngIf="isLoading">
      <!-- <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div> -->
    </ng-container>

    <ng-container  *ngIf="isLoading">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Sort Order</label>
            <input type="number" class="form-control form-control-lg form-control-solid" name="sortOrder"
              placeholder="sortOrder" autocomplete="off"
              [class.is-invalid]="isControlInvalid('sortOrder')"
              [class.is-valid]="isControlValid('sortOrder')" formControlName="sortOrder" />
            <div class="valid-feedback" *ngIf="isControlValid('sortOrder')">
              Sort Order hợp lệ
            </div>
          </div>
          <div class="col-lg-8">
            <label class="form-label">Hình ảnh</label>
            <input 
              formControlName="file"
              id="file" 
              type="file" 
              class="form-control"
              (change)="onFileChange($event)">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-12">
          </div>
          <div class="col-lg-8">          
            <img id="blah" [src]="fileReview" style="max-width: 250px; max-height: 250px;" alt="your image" />     
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light btn-elevate mr-2" (click)="modal.dismiss()">Cancel</button>
    <ng-container *ngIf="image">

      <button type="submit" class="btn btn-primary btn-elevate" (click)="save()"
        [disabled]="formGroup.invalid">Save</button>
    </ng-container>
  </div>
</div>