<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Danh sách đơn hàng</h3>
    </div>
    <div class="card-toolbar">
      <!-- <a
        type="button"
        class="btn btn-primary"
       
        >New Trademarks</a> -->
      <!--   (click)="addAttribute(undefined)" -->
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-3">
          <div class="row" [formGroup]="filterGroup">
            <div class="col-lg-12">
              <select
                class="form-control"
                name="status"
                placeholder="Filter by Status"
                formControlName="status"
              >            
                <option value="">All</option>
                  <option value="1" >Mới</option>
                  <option value="2" >Đang xử lý</option>
                  <option value="3" >Đang giao hàng</option>
                  <option value="4" >Hoàn thành</option>
                  <option value="5" >Đã huỷ</option>
              </select
              ><small class="form-text text-muted"
                ><b>Filter</b> Status</small
              >
            </div>
            
          </div>
        </div>
        <div class="col-lg-3" [formGroup]="searchGroup">
          <input
            type="text"
            class="form-control"
            name="searchText"
            placeholder="Search"
            value=""
            formControlName="searchTerm"/><small class="form-text text-muted"
            ><b>Search</b> OrderCode, Phone, ShippingName</small
          >
        </div>
      </div>
    </div> 
    <!-- end: Filtration form -->
    <!-- begin: Grouping -->
    <ng-container *ngIf="grouping.getSelectedRowsCount()">
      <div class="form">
        <div
          class="row align-items-center form-group-actions margin-top-20 margin-bottom-20"
        >
          
        </div>
      </div>
    </ng-container>
    <!-- end: Grouping -->
    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table
        class="table table-head-custom table-vertical-center overflow-hidden"
      >
        <thead>
          <!-- <th class="selection-cell-header" data-row-selection="true">
            <label class="checkbox checkbox-single"
              ><input
                type="checkbox"
                (click)="grouping.selectAllRows()"
                [checked]="grouping.checkAreAllRowsSelected()" /><span></span
            ></label>
          </th> -->
          <th>
            TransactionID
          </th>
          <th>
            OrderCode
          </th>
          <th>
            ShippingName
          </th>  
          <th>ShippingPhone</th>   
          <th>totalAmount</th>
          <th>status</th>  
          <th>Ngày đặt</th>  
          <th>ACTIONS</th>
        </thead>
        <tbody>
          <tr *ngFor="let tran of transactionService.items$ | async">
            <td>{{ tran.transactionID }}</td>
            <td>{{ tran.orderCode }}</td>
            <td>{{ tran.shippingName }}</td>
            <td>{{ tran.shippingPhone }}</td>
            <td>{{ tran.totalAmount | currency: "VND" }}</td>
            <td>{{ getStatusName(tran.status) }}</td>
            <td>{{tran.createdDate | date:'yyyy/MM/dd HH:mm' }}</td>
            <td>
              <a
                title="Edit attribute"
                class="btn btn-icon btn-light btn-hover-primary btn-sm mx-3"               
                (click)="editTransaction(tran.id, tran)"
              >
              <!-- (click)="addSlides(slide.id)" -->
                <span
                  [inlineSVG]="
                    './assets/media/svg/icons/Communication/Write.svg'
                  "
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-primary"
                >
                </span>
              </a>
              <!-- <a
                title="Delete attribute"
                class="btn btn-icon btn-light btn-hover-danger btn-sm"
               
              >
                <span
                  [inlineSVG]="'./assets/media/svg/icons/General/Trash.svg'"
                  cacheSVG="true"
                  class="svg-icon svg-icon-md svg-icon-danger"
                >
                </span>
              </a> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator
      class="d-flex justify-content-between align-items-center flex-wrap"
      [paginator]="paginator"
      [isLoading]="isLoading"
      (paginate)="paginate($event)"
    ></app-paginator>
  </div>
</div>
